.navbar{
    border-radius: 0 0 15% 15%;
    border-bottom: 2px solid coral;
}

#banner-principal{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon:hover{
    box-shadow: lightblue 3px 3px;
}